{{ if eq .Type "posts" }}
<div class="author-box">
    <div class="author-box-inner">
        <div class="author-box-avatar">
            <img src="/images/profile.png" alt="ととのえマネー" />
        </div>
        <div class="author-box-content">
            <div class="author-box-name">
                ととのえマネー
                <span class="author-box-badge">FP2級</span>
            </div>
            <div class="author-box-bio">
                40代シンママ。年金も税金もゼロから学び直し、FP2級を独学で取得。2人の娘を育てながら、実体験をもとにシンママ目線でリアルなお金の情報を発信しています。
            </div>
            <a href="/about/" class="author-box-link">→ 詳しいプロフィールはこちら</a>
        </div>
    </div>
</div>
{{ end }}
